


body {
    background: #f8f8f8;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    height: 800px;
}
button {

    flex-direction: row;
    width: 80px;
    height: 40px;
    background:#4591DC;
    color: #fefefe;
    border-radius: 8px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-top: 22px;
    cursor: pointer;
    
}

input{
    width: 320px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

